.mainbody
{
    background-image: url(bbb.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
*
{
    margin: 0;
    padding: 0;
}
.leftbox
{
    width: 20%;
    height: 65vh;
    background-image:linear-gradient(yellow,white);
    box-shadow: 10px 10px 15px;
}
.centerbox
{
    width: 20%;
    height: 65vh;
    background-image:linear-gradient(rgb(186, 66, 104),white);
    box-shadow: 10px 10px 15px;

}
.rightbox
{
    width: 20%;
    height: 65vh;
    background-image:linear-gradient(rgb(48, 48, 135),white);
    box-shadow: 10px 10px 15px;
}    
img
{
    width: 50%;
    border-radius: 50%;
    position: relative;
    left: 5vw;
    top: 3vh;
}
h1.hrithik
{
position: relative;
left: 3.5vw;
top: 12vh;
font-family: monospace;
}
h1.sunny
{
    
position: relative;
left: 4vw;
top: 9.5vh;
font-family: cursive;
}
h1.aravind
{
    position: relative;
left: 6vw;
top: 9.5vh;
font-family:Georgia, 'Times New Roman', Times, serif;
}